<meta charset="utf-8">
{% extends 'base_stu.html' %}
{% block title %}个人信息编辑{% endblock %}
{% block content %}
    <style>
        body{
            background: url("../../../static/img/006.jpg") no-repeat center center fixed;
            background-size: 100%;
            height: 400px;
            font-size: 18px;
        }

        .find{
            width:350px;
            height: 300px;
            margin-right: 10%;
            margin-top: 1%;
            float: right;

            background-color: rgba(130 ,200 ,200,0.2);

        }
        .find p{
            margin-top: 40px;
            margin-left: 20%;
        }

        .find form{
            margin-left: 20%;
        }
        .btn input{ /*设置两个按钮的宽高、边距及边框样式*/
            width: 50px;
            height: 24px;
            margin-right: 50px;
            background:#87CEFF;
            border-radius: 20px;
        }
        .btn0{
           font-size: 16px;
            margin-right: 50px;
            background: #87CEFF;
            border-radius: 20px;
        }
        #btnt{
            {#position: absolute;#}
            width: 80px;
            {#top: 380px;#}
            {#left: 300px;#}
            margin-top: 20%;
            margin-left: 10%;
            font-size: 16px;
             background: #87CEFF;
            border-radius: 20px;
        }
        #btnq{
             {#position: absolute;#}
            width: 80px;
            margin-top: 20%;

            {#top: 380px;#}
            {#left: 200px;#}
            font-size: 16px;
             background: #87CEFF;
            border-radius: 20px;
        }
        .b{

            margin-top: 40px;
            margin-left: 25%;
        }
        .inf{
            margin-top:1% ;
            margin-left: 15%;
            width: 400px;
            height: 400px;
            float: left;

        }
        .guodong{
            width: 450px;
            height: 350px;
            overflow: auto;
        }
        .btn2{
             width: 120px;
            height: 50px;
            background: #87CEFF;
            border-radius: 20px;
            position: absolute;
            left:100px;
            top:570px;
            font-size: 18px;
        }
        .tian{

            position: absolute;
            top:160px;
            right: 120px;
             width: 100px;
            height: 35px;
            background: #87CEFF;
            border-radius: 20px;
            font-size: 16px;

        }
        .head{
            position: relative;
            text-align: center;
            margin-top:50px ;

        }
        #bg{
            width: 100%;
            height: 300px;
            position: static;
        }
         table
        {
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
              overflow: auto;
        }
        table td, table th
        {
            border: 1px solid #cad9ea;
            color: black;
            height: 30px;
        }
        table thead th
        {
            background-color: #CCE8EB;
            width: 100px;
        }
        table tr:nth-child(odd)
        {
            background: #63B8FF;
        }
        table tr:nth-child(even)
        {
            background: #87CEFF;
        }
    </style>

<div id="bg">
        <div CLASS="head">
        <h2>个人信息编辑</h2>
</div>
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
          <form class='form-stu14' action="/stu14/" method="post">
              {% if message %}
                  <div class="alert alert-warning">{{ message }}</div>
              {% endif %}

              {% csrf_token %}

               <div class="form-group">
                  {{ Teacher_form.username.label_tag }}
                  {{ Teacher_form.username}}
              </div>
              <div class="form-group">
                  {{ Teacher_form.sex.label_tag }}
                  {{ Teacher_form.sex }}
              </div>
              <div class="form-group">
                  {{ Teacher_form.zhengzhi.label_tag }}
                  {{ Teacher_form.zhengzhi }}
              </div>
              <div class="form-group">
                  {{ Teacher_form.real_name.label_tag }}
                  {{ Teacher_form.real_name }}
              </div>
              <div class="form-group">
                  {{ Teacher_form.joinTime.label_tag }}
                  {{ Teacher_form.joinTime }}
              </div>
              <div class="form-group">
                  {{ Teacher_form.eduation.label_tag }}
                  {{ Teacher_form.eduation }}
              </div>
              <div class="form-group">
                  {{ Teacher_form.experience.label_tag }}
                  {{ Teacher_form.experience }}
              </div>
              <div class="form-group">
                  {{ Teacher_form.gonghaoid.label_tag }}
                  {{ Teacher_form.gonghaoid }}
              </div>

              <button type="reset" class="btn btn-default pull-left">重置</button>
              <button type="submit" class="btn btn-primary pull-right">提交</button>

          </form>
        </div>
    </div>
    </div>
{% endblock %}